<div class="container">
  <div *ngFor="let nogalcillo of nogal" class="carta">
    <mat-card class="example-card"> 
        <mat-card-header> 
          <div mat-card-avatar class="example-header-image"></div> 
          <mat-card-title> {{nogalcillo.descripcionCorta}} </mat-card-title > 
          <mat-card-subtitle> {{nogalcillo.tipo}} </mat-card-subtitle > 
        </mat-card-header> 
        <img mat-card-image class="imagen" [src]="nogalcillo.imagen"> 
        <mat-card-actions > 
          <button mat-button class="botonCard" (click)="openDialog(nogalcillo)">Ver Detalles</button>
        </mat-card-actions> 
      </mat-card >
    </div>
</div>