<div class="padre">
<div class="container">
    <div *ngFor="let cocinilla of cocinas">
      <mat-card class="cards"> 
          <mat-card-header> 
            <div  mat-card-avatar  class = "example-header-image"></div> 
            <mat-card-title> {{cocinilla.tipo}} </mat-card-title > 
            <mat-card-subtitle> {{cocinilla.gluten}} </mat-card-subtitle > 
          </mat-card-header> 
          <img mat-card-image [src]="cocinilla.imagen"> 
          <mat-card-actions > 
            <button mat-button class="botonCard" (click)="openDialog(cocinilla)">Ver Detalles</button>
            <button mat-button class="botonCarddos" (click)="pedir(cocinilla)">Pedir</button>
          </mat-card-actions> 
        </mat-card >
      </div>
</div>
</div>

<div class="hijo">
  <div class="container">
    <mat-form-field>
      <input matInput [matDatepicker]="myDatePicker" placeholder="Select Date" (dateChange)="addEvent($event)">
      <mat-datepicker-toggle [for]="myDatePicker" matSuffix></mat-datepicker-toggle>
      <mat-datepicker #myDatePicker></mat-datepicker>
    </mat-form-field>
  </div>
  <div class="containerLista">
  <div class="lista">
    <label class="item" *ngFor="let item of historial">
      {{item}}
    </label>
  </div>
  <div class="listaCant">
    <label class="itemNum" *ngFor="let item of historialC">
      {{item}}
    </label>
  </div>
</div>
  <div>
    <button class="boton" (click)="reservar()">Reservar</button>
  </div>
</div>


