<div class="container">
    <div *ngFor="let almendrito of almendro" class="carta">
      <mat-card class="example-card"> 
          <mat-card-header> 
            <div mat-card-avatar class="example-header-image"></div> 
            <mat-card-title> {{almendrito.tipo}} </mat-card-title > 
            <mat-card-subtitle> {{almendrito.descripcion}} </mat-card-subtitle > 
          </mat-card-header> 
          <img mat-card-image class="imagen" [src]="almendrito.imagen"> 
          <mat-card-actions > 
            <button mat-button (click)="openDialog(almendrito)">Abrir cuadro de diálogo</button>
          </mat-card-actions> 
        </mat-card >
      </div>
</div>