*{
    margin: 0;
    padding: 0;
}

html{
    background-image: url(../src/assets/images/pingocho.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
