.container{
    position: relative;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    background: transparent;
    gap: 80px;
    flex-wrap: wrap;
    background-color: #FFFFFF61;
    padding: 10px;
    margin-bottom: 40px;
  }

  .example-card{
    width: 380px;
 
  }

  .carta{
    background-color: white;
    border-radius: 50%;
  }

  .botonCard{
    background-color: darkolivegreen; /* Green */
    border: none;
    color: white;
    padding: 10px 28px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }